src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:whisperer="http://www.mulesoft.org/schema/mule/whisperer" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/whisperer http://www.mulesoft.org/schema/mule/whisperer/current/mule-whisperer.xsd http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
    <apikit:config name="scorekeeper-system-api-config" api="resource::ae6d7954-6fc2-4f3e-8777-80ff8aabd859:scorekeeper-system-api:2.1.2:raml:zip:scorekeeper-system-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<flow name="scorekeeper-system-api-main">
        <http:listener config-ref="domainHttpListenerConfig" path="/scorekeeper-sapi/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="scorekeeper-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="scorekeeper-system-api-console">
        <http:listener config-ref="domainHttpListenerConfig" path="/scorekeeper-sapi/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="scorekeeper-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\health:scorekeeper-system-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
"OK"]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\evaluate\name:application\json:scorekeeper-system-api-config">
        <!-- [STUDIO:"Transform Message"]<ee:transform doc:name="Transform Message" doc:id="3e572292-e397-4d09-84e2-868f8bbd0e5c">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
	error: "fake connection refused",
	details: "for testing referee"
}&#93;&#93;></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
502&#93;&#93;></ee:set-variable>
            </ee:variables>
        </ee:transform> [STUDIO] -->
        <flow-ref doc:name="checkRacerName" doc:id="24d35610-45c4-4036-9412-7ff8b532e79c" name="checkRacerName" />
        <error-handler>
            <on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="ff2b714a-4d78-45cc-92f2-9ab72e1b4ca1" type="APP:BAD_ENDPOINT, APP:ENDPOINT_DOWN">
                <ee:transform doc:name="502 and error response" doc:id="1f67906b-7dfd-443e-ade7-e8d76c9570be">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	error: "racer endpoint unreachable",
	details: error.detailedDescription
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
502]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-continue>
            <on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="54e48a56-52a1-4dbe-9d17-d21e1114abb1" type="APP:ENDPOINT_TIMEOUT">
                <ee:transform doc:name="504 and error response" doc:id="c2b2fcc3-a044-4cca-beff-0c24c973c964">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	error: "Request timeout for racer endpoint",
	details:  "Request timed out after $(vars.timeOut / 1000) seconds\n$(error.detailedDescription)"
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
504]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-continue>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="6f00a74b-f453-441b-a677-d0bff3ca4e64">
                <ee:transform doc:name="HTTP response" doc:id="5f806900-298c-4648-8dc7-737fea764824">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	error: "internal error checking racer name: $(error.description)",
	details: error.detailedDescription
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\evaluate\simple-question:scorekeeper-system-api-config">
        <flow-ref doc:name="generateFormulaOneQuestion" doc:id="cfc1158e-cc53-4c83-a0a8-ae4e3f934513" name="generateFormulaOneQuestion" />
    </flow>
    <flow name="post:\evaluate\simple-question:application\json:scorekeeper-system-api-config">
        <set-variable value="#[payload.endpoint]" doc:name="endpoint" doc:id="f8002127-1892-4413-afc8-4139823bf728" variableName="endpoint" />
        <flow-ref doc:name="checkFormulaOneQuestion" doc:id="a6ab4f57-eec4-4cc4-ba00-a602851cfc34" name="checkFormulaOneQuestion" />
        <logger level="INFO" doc:name="INFO" doc:id="e191801a-15e5-4bce-9b10-7d39e8897180" category="scorekeeper-sapi.check-simple-question.check" message="Checked voice question for #[vars.endpoint]" />
        <error-handler>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="7bc17c17-21be-4f48-b0f9-4867645c4505" type="APP:BAD_ENDPOINT, APP:ENDPOINT_DOWN">
                <ee:transform doc:name="Transform Message" doc:id="17bf306d-7d35-43b5-979e-01b3920abe0c">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	error: "Error sending question to racer endpoint: $(error.description)",
	details: error.detailedDescription
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
502]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="false" doc:name="On Error Propagate" doc:id="6b74726c-e994-4b55-93fd-cbac1b3b00e0" type="APP:ENDPOINT_TIMEOUT">
                <ee:transform doc:name="Transform Message" doc:id="4a05361c-ae9e-4df7-bd03-96be89afa7ef">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	error: "Request timeout for racer endpoint $(vars.endpoint default 'unknown')",
	details: error.detailedDescription
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
504]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="92f6de67-a924-46ae-a020-00e1c5dc28ee" type="ANY">
                <ee:transform doc:name="Transform Message" doc:id="95509d15-47e8-457a-8a9a-04550cd8c2ed">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	error: error.description,
	details: error.detailedDescription
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
504]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\evaluate\article-bias:scorekeeper-system-api-config">
		<flow-ref doc:name="generateChallengeArticles" doc:id="2eb6fd7f-7b2a-47ee-941d-a73dba9fafbd" name="generateChallengeArticles" />
    </flow>
	<flow name="post:\evaluate\article-bias:application\json:scorekeeper-system-api-config" doc:id="b7998177-e509-4f6c-9ff4-b133585ca1bc">
        <flow-ref doc:name="checkRacerArticleBiasDetection" doc:id="a1670ef8-c95f-4ce9-8f25-b0797f4f7eb0" name="checkRacerArticleBiasDetection" />
    </flow>
</mule>
